
<div class="container text-center" style="margin-top: 150px;" *ngIf="verifed">
  <div style="margin-bottom: 100px;">
    <img src="assets/images/logo.png" alt="" style="width: 150px; object-fit: contain;">
  </div>
  <span class="login100-form-title p-b-30 text-success">
    <strong>{{email}}</strong> has been verified successfully. Please log in to your account.
  </span>
  <a href="javascript:;" routerLink="/auth/login">Login to your account!</a>
</div>


<div class="container text-center" style="margin-top: 150px;" *ngIf="!verifed">
  <div style="margin-bottom: 100px;">
    <img src="assets/images/logo.png" alt="" style="width: 150px; object-fit: contain;">
  </div>
  <span class="login100-form-title p-b-30 text-danger">
    Invalid Token
  </span>
  <a href="javascript:;" routerLink="/auth/login">Signin!</a>
</div>