/* You can add global styles to this file, and also import other style files */

// Max width for popups
.addContainer  {
  max-width: 900px;
}

// when removing the search box
ul.header-buttons-left {
  line-height: 3;
}

// To make table cell fit the width
mat-cell, mat-header-cell, mat-footer-cell {
  min-width: 110px !important;
}