<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="body">
                <h4 class="page-title">Customer Info</h4>
                <!-- customer info 1  -->
                <div class="row">
      <div class="col-4">
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Customer Code</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <br>
        </div>
        </div>
        <div class="col-4">
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput>
          </mat-form-field>
          <br>
          <br>
          </div>
          </div>
          <div class="col-4">
            <div>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <br>
            </div>
            </div>
          </div>
          <!-- second row -->
          <div class="row">
            <div class="col-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <br>
              </div>
              <div class="col-4">
                <div>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>National ID</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <br>
                </div>
                </div>
                <div class="col-4">
                  <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TAMIS Number</mat-label>
                      <input matInput>
                  </mat-form-field>
                  <br>
                  <br>
                  </div>
                  </div>
                </div>
                <!-- third row -->
                <div class="row">
                  <div class="col-4">
                    <div>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <br>
                    </div>
                    </div>
                    <div class="col-4">

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Minor</mat-label>
                        <mat-select>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>

                      </div>
                      <div class="col-4">
                        <div>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Parent/GrandSon</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <br>
                        <br>
                        </div>
                        </div>
                      </div>
                      <!-- fourth row -->
                      <div class="row">
                        <div class="col-4">
                          <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Nis Number</mat-label>
                              <input matInput>
                          </mat-form-field>
                          <br>
                          <br>
                          </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                      </div>
                      <hr>
                       <!--end customer info 1  -->
                       <!-- customer info2  -->

                        <h4 class="page-title">Customer Info</h4>

                        <div class="row">
              <div class="col-4">
                <div>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Address 1</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <br>
                </div>
                </div>
                <div class="col-4">
                  <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Address 2</mat-label>
                      <input matInput>
                  </mat-form-field>
                  <br>
                  <br>
                  </div>
                  </div>
                  <div class="col-4">
                    <div>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address 3</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>
                    <br>
                    </div>
                    </div>
                  </div>
                  <!-- second row -->
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Parish</mat-label>
                        <mat-select>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                      </div>
                      <div class="col-4">
                        <div>
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Home Phone</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <br>
                        <br>
                        </div>
                        </div>
                        <div class="col-4">
                          <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Work Phone</mat-label>
                              <input matInput>
                          </mat-form-field>
                          <br>
                          <br>
                          </div>
                          </div>
                        </div>
                        <!-- third row -->
                        <div class="row">
                          <div class="col-4">
                            <div>
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Cell Phone</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <br>
                            <br>
                            </div>
                            </div>
                            <div class="col-4">

                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Primary Email</mat-label>
                                <mat-select>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <br>
                              </div>
                              <div class="col-4">
                                <div>
                                  <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Secondary Email</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <br>
                                <br>
                                </div>
                                </div>
                              </div>
                              <!-- fourth row -->


                              <h4 class="page-title">Employer</h4>
                              <!-- first row of employer -->
                              <div class="row">
                                <div class="col-4">
                                  <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Employer</mat-label>
                                    <mat-select>
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <br>
                                  </div>
                                  <div class="col-4">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                      <mat-label>Job Title</mat-label>
                                      <input matInput>
                                  </mat-form-field>
                                  <br>
                                  <br>
                                    </div>
                                    <div class="col-4">
                                      <div>
                                        <mat-form-field class="example-full-width" appearance="outline">
                                          <mat-label>Date Employed</mat-label>
                                          <input matInput>
                                      </mat-form-field>
                                      <br>
                                      <br>
                                      </div>
                                      </div>
                                    </div>
                                    <!-- account manager -->
                                    <h4 class="page-title">Account Manager</h4>
                                    <div class="row">
                                      <div class="col-4">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                          <mat-label>Account Manager</mat-label>
                                          <mat-select>
                                              <mat-option value="option1">Option 1</mat-option>
                                              <mat-option value="option2">Option 2</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                      <br>
                                      <br>
                                      </div>
                                      <div class="col-4"></div>
                                      <div class="col-4"></div>

                                    </div>

      </div>
    </div>
  </div>
</div>
</div>
