<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Identification Type</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Identification Type</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <!--Advanced Search-->
          <div class="body">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Advanced search
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <mat-form-field class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2" appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="filterDto.isActive">
                      <mat-option [value]="true">Active</mat-option>
                      <mat-option [value]="false">Disabled</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" [(ngModel)]="filterDto.name" matInput>
                  </mat-form-field>
                </div>
                <mat-action-row>
                  <button mat-button color="warn" (click)="reset()">RESET</button>
                  <button mat-button color="primary" (click)="loadData()">SEARCH
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <!--/Advanced Search-->
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Identification</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search by name" type="text" #searchInput
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button [matMenuTriggerFor]="columnFilterMenu" mat-mini-fab color="primary"
                            matTooltip="Filter Columns">
                            <mat-icon>filter_list</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" (click)="add()" matTooltip="Add New">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" (click)="loadData()" matTooltip="Refresh Data">
                            <mat-icon>refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <mat-table [dataSource]="dataSource" matSort class="mat-cell">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                    <mat-checkbox
                      (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="isActive">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="rounded px-2 py-1 font-medium text-xs" fxFlex="none"
                      [style.background-color]="row['isActive'] ? 'rgba(76, 175, 80, 0.098)' : 'rgba(156, 39, 176, 0.098)'"
                      [style.color]="row['isActive'] ? 'rgb(76, 175, 80)' : 'rgb(156, 39, 176)'">
                      {{ row['isActive'] ? 'Active' : 'Disabled' }}
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                  <ng-container
                    *ngIf="['text', 'date', 'datetime', 'price', 'number', 'int', 'percent', 'bool'].includes(column.type)"
                    [matColumnDef]="column.property">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.label }}</mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="column.cssClasses">
                      <span *ngIf="column.type === 'text'">{{ row[column.property] || '-' | humanize }}</span>
                      <span *ngIf="column.type === 'date'">{{ formatDate(row[column.property]) }}</span>
                      <span *ngIf="column.type === 'datetime'">{{ formatDateTime(row[column.property]) }}</span>
                      <span *ngIf="column.type === 'price'">{{ formatPrice(row[column.property]) }}</span>
                      <span *ngIf="column.type === 'number'">{{ formatInt(row[column.property]) }}</span>
                      <span *ngIf="column.type === 'int'">{{ formatInt(row[column.property], false) }}</span>
                      <span *ngIf="column.type === 'percent'">{{ formatInt(row[column.property]) }}%</span>
                      <span *ngIf="column.type === 'bool'">{{ row[column.property] ? 'Yes' : 'No' }}</span>
                    </mat-cell>
                  </ng-container>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ record: row }"
                      [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <!-- Visible Columns -->
                <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: visibleColumns;" [style.cursor]="'pointer'" matRipple>
                </mat-row>

              </mat-table>

              <!-- <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div> -->

              <mat-paginator [length]="dataSource?.totalCount" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="10"
                class="sticky left-0"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
<!--  -->
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" ngDefaultControl [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>
<!--  -->
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-record="record" matMenuContent>
    <button (click)="update(record)" mat-menu-item>
      <mat-icon aria-label="Edit">edit</mat-icon>
      <span>Edit</span>
    </button>
    <button (click)="deactivate(record)" mat-menu-item *ngIf="record?.isActive">
      <mat-icon aria-label="Deactivate">highlight_off</mat-icon>
      <span>Deactivate</span>
    </button>
    <button (click)="activate(record)" mat-menu-item *ngIf="!record?.isActive">
      <mat-icon aria-label="Activate">done</mat-icon>
      <span>Activate</span>
    </button>
    <button (click)="delete(record)" mat-menu-item>
      <mat-icon aria-label="Delete">delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

